.headline-container {
	position: relative;
	// border: 1px solid red;
	width: span(6 of 12);
	margin-left: span(3 of 12);
	margin-right: span(3 of 12);
	margin-top: 150px;

	@include breakpoint($medium) {
		width: span(6 of 12);
		margin-left: span(3 of 12);
		margin-right: span(3 of 12);
	}

	@include breakpoint($large) {
		width: span(4 of 12);
		margin-left: span(4 of 12);
		margin-right: span(4 of 12);
	}

	@include breakpoint($jumbo) {
		width: span(3 of 12);
		margin-left: span(4.5 of 12);
		margin-right: span(4.5 of 12);
	}


	.brand-logo,
	.sponsor-logo {
		position: absolute;

		svg {
			width: 100%;
		}
	}

	.arrows {
		width: 100%;
	}


	.brand-logo {
		top: 39%;
		left: -11%;
		width: 40%;
	}

	.sponsor-logo {
		top: 33%;
		left: 80%;
		width: 30%;
	}

	.arrows_copy--top,
	.arrows_copy--bottom {
		position: absolute;
		color:#ffffff;
		font-size: 1.3em;
		font-weight: bold;
		left: 33%;
		text-align: center;

		@include breakpoint($medium) {
			font-size: 250%;
		}

	}

	.arrows_copy--top {
		top:12%;
	}

	.arrows_copy--bottom {
		top:75%;
	}


}