.headline-container {
	position: relative;
	// border: 1px solid red;
	width: span(8 of 12);
	margin-left: span(2 of 12);
	margin-right: span(2 of 12);
	margin-top: 150px;

	// .arrows,
	.brand-logo,
	.sponsor-logo {
		position: absolute;

		svg {
			width: 100%;
		}
	}

	.arrows {
		width: 100%;
	}


	.brand-logo {
		top: 39%;
		left: -10%;
		width: 40%;
	}

	.sponsor-logo {
		top: 33%;
		left: 83%;
		width: 30%;
	}

	.arrows_copy--top,
	.arrows_copy--bottom {
		position: absolute;
		color:#ffffff;
		font-size: 1.7em;
		font-weight: bold;
		left: 35%;
		text-align: center;
	}

	.arrows_copy--top {
		top:12%;
	}

	.arrows_copy--bottom {
		top:75%;
	}


}