nav {
    height: 100vh;
    width: 100vw;
    background-color: $menu_color;
    opacity:0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease-out;
    transition-delay: 3ms;

}

nav ul {
    text-align: center;
    margin-top: 100px;
    width: 100%;

    @include breakpoint($large) {
        margin-top: 200px;
    }
}
nav ul li {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 4ms;
    margin:15px 0;
}
nav ul li a {
    text-decoration: none;
    font-family:$heading;
    display: block;
    font-weight: 700;
    font-size: 3em;
    color: #efefef;
    line-height: 1.389em;
    text-align: center;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 4ms;
}
nav ul li:hover {
    background-color: #182650;
}
nav ul li:hover a {
    border-radius: 0;
}
header {
    float: left;
    width: 100%;
    height: 320px;
}
a {
    text-decoration: none;
    overflow: hidden;
}