
section {
  position: relative;
}

.section__wrap {
	@include container;
	margin: 0 auto;
	// overflow-x: hidden;

	@include breakpoint($jumbo) {
		max-width: 1440px;
	}
}

.section__heading {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	color:#ffffff;


	@include breakpoint($medium) {
		text-align: left;
		font-size: 3em;
	}
}

.section__heading--main {
	font-size: 2.75em;
	
}

.section__heading--main-top {
	padding-top:120px;
}

.section__heading--alternate {
	color:$brand_primary;
}

.section__heading--left {
	text-align: left;
}