footer {
	background-image:url(../img/map.jpg);
	width: 100%;
	z-index:0;
}

.footer-wrap {
	padding-top: 100px;
	@include container;
}

.footer-display {
	display: none;

	@include breakpoint($medium) {
		display: inherit;
	}
}

.footer-nav {
	font-family: $menu;
	width: span(7 of $footer_layout);
	margin-top: 20px;

	li {
		margin-bottom: 30px;
		@include breakpoint($medium) {
			@include gallery(3 of $footer_layout);
		}

		a {
			color: white;
			font-size: 0.8em;
		}
		
	}
}

.social-icons {
	@include span(last 3 of $footer_layout);
	margin: 5px;

	a {
		color: white;
	}

	.social {
		margin-right: 5px;
	}
}