

.infographic {
	background-image: url(../img/map.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #efefef;
	z-index: 0;
}

.info__container--left,
.info__container--right {
	width: 100%;
	text-align: center;
	margin: 50px 0;

	@include breakpoint($medium) {
		text-align: left;
	}
}

.info__container--left {
	@include breakpoint($medium){
		display: flex;
		flex-direction:row;
	}
	
}



.info__container--right {
	@include breakpoint($medium) {
		display: flex;
		flex-direction:row-reverse;
	}
}


.info__img--left,
.info__img--right{
	width: 35%;
	max-width: 200px;
	margin: 15px auto;
	// border: 1px solid;

	@include breakpoint($medium) {
		margin: 15px 0 0 0;
	}
}

.info__img--left{
	@include breakpoint($medium) {
		margin-right: span(1);
	}
}

.info__img--right{
	@include breakpoint($medium) {
		margin-left: span(1);
	}
}

.info__copy--left,
.info__copy--right {
	width: 100%;
	// border: 1px solid;
}



.info__body {
	font-family: $menu;
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 20px;

}

