.product__section {
	background-color: #ffffff;
	// z-index: 4000;

	.product__section--top,
	.product__section--bottom {
		position: absolute;
		background-image: url(../img/paper.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 51px;
		z-index: 10;
	}

	.product__section--top {
		top: -36px;
		transform:rotate(180deg);
	}

	.product__section--bottom {
		bottom: -36px;
	}
}

.product__grid {
	@include container;



	.product__grid--main,
	.product__grid--gallery {
		float: left;
		width: 100%;
	}
}

.product__grid--main {

	margin-bottom: 30px;
	@include breakpoint($medium){
		width: span(4 of 12);
		margin-right: span(1.5);
	}
}

.product__grid--gallery {
	@include breakpoint($medium){
		width: span(last 8 of 12);
	}
}

.product__grid--main {
	margin-top: 20px;
}

.product__grid--gallery {
	margin-bottom: 50px;
}


.product {
	border:5px solid $brand_primary;
	position: relative;

}

.product__primary {
	width: 100%;
	height: 0;
	padding-bottom: 100%;

}

.product__secondary {
	@include gallery (6 of 12);
	margin: span(1.5);
	height: 0;
	padding-bottom: 45%;



	@include breakpoint($medium){
		@include gallery (4 of 12);
	}
}



.product-image {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.product__title,
.product__price,
.product__title--secondary,
.product__price--secondary {
	text-align: center;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);

	span {
		display: inline-block;
		background-color: white;
	}
	
}

.product__title--secondary,
.product__price--secondary {
	font-size: 1em;
	padding: 0 10px;
}

.product__title {
	top:-18px;
	font-size: 1.5em;
}

.product__title--secondary {
	bottom: -14px;
}

.product__price,
.product__price--secondary {
	font-family: $menu;
}

.product__price {
	bottom: -10px;
}

.product__title--secondary {
	font-size: 1.2em;
	top: -10px;
	width: 100%;
}

.product__price--secondary {
	font-size: 0.8em;
	bottom: -8px;
}

#productSecondary {
	margin:30px 0;
	@include breakpoint($medium) {
		display: none;
	}
}




















