.product__section {
	background-color: #ffffff;

	.product__section--top,
	.product__section--bottom {
		position: absolute;
		background-image: url(../img/paper.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100px;
		z-index: 10;
	}

	.product__section--top {
		top: -97px;
		transform:rotate(180deg);
	}

	.product__section--bottom {
		bottom: -60px;
		height: 70px;
	}
}

.product__grid {
	@include container;
	max-width: 1024px;
}

.product__grid--main {

	margin: 50px 0;

	@include breakpoint($medium){
		width:span(4 of 12);
		float: left;
	}
}

.product__grid--gallery {
	@include breakpoint($medium){
		width:span(last 8 of 12);
		float: right;
	}
}


.product__grid--gallery {
	margin: 50px 0;
}


.product {
	border:5px solid $brand_primary;
	position: relative;
	@include trans;

	&:hover {
		transform:scale(1.1);
	}

}

.product__primary {
	// width: 100%;
	height: 0;
	padding-bottom: 142%;

	@include breakpoint($medium) {
		// padding-bottom: 147%;
	}
}

.product__secondary {
	@include gallery (6 of $product_layout);
	padding-bottom: 60%;
	margin-bottom:span(1);



	@include breakpoint($medium){
		@include gallery (4 of 12);
		padding-bottom: 30%;
		margin: span(0.5);
		margin-bottom:30px;
	}
}



.product-image {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.product__title,
.product__price,
.product__title--secondary,
.product__price--secondary {
	text-align: center;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);

	span {
		display: inline-block;
		background-color: white;
	}
	
}

.product__title--secondary,
.product__price--secondary {
	font-size: 1em;
	padding: 0 10px;
}

.product__title {
	top:-18px;
	font-size: 1.5em;
}

.product__title--secondary {
	bottom: -14px;
}

.product__price,
.product__price--secondary {
	font-family: $menu;
}

.product__price {
	bottom: -10px;
}

.product__title--secondary {
	font-size: 1.2em;
	top: -10px;
	width: 100%;
}

.product__price--secondary {
	font-size: 0.8em;
	bottom: -8px;
}

#productSecondary {
	margin:30px 0;
	@include breakpoint($medium) {
		display: none;
	}
}

.section-wrap {
	max-width: 1024px;
	margin: 0 auto;
}





















