

@import 'vendor/reset';
@import '../../node_modules/susy/sass/susy';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'base/variables';
@import 'base/susyOdd';
@import 'base/breakpoints';
@import 'base/section';

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $heading;
  // @include container;

  
}

body{
  transform:rotate(180);
}



video {
  display: none;


  @include breakpoint($medium) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    // overflow: hidden;
    z-index: -1;
  }

}



@import 'components/arrow';
@import 'components/menu';
@import 'components/loader';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/product';
@import 'partials/infographic';
@import 'partials/formSection';
@import 'partials/footer';



