.btn {
  width: 50%;
  max-width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  float: left;
  margin: 50px 25%;

  @include breakpoint($medium) {
    margin: 50px 35%;
  }
}

.btn div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.btn:hover div {
  transform: rotateX(-90deg);
}

.btn div span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid $button;
  font-family: $menu;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
}

.btn div span:nth-child(1) {
  color: $button;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

.btn div span:nth-child(2) {
  color: white;
  background: $button;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}

