.load-screen {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity:1;
	transition:all 0.3s ease-in-out;
	background-color: $menu_color;
	z-index: 1020;
}

.loaded {
	opacity:0;
	transform: translateX(-100%);
}

.brand-logo--load {
	position: absolute;
	width: 20%;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
}