.menu-container {
    position: fixed;
    width: 100vw;
    height: 81px;
    z-index: 100;
    transition:all 0.3s ease-in-out;
}

.menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 13px;
    left: 0;
    padding: 1em;
    margin-left: 1em;
    z-index: 99;
    transition:all 0.3s ease-in-out;

    .menu-title {
        margin: 3px 30px;
        color: #fff;
        font-family: $menu;
        font-weight: bold;
        font-size: 1.3em;
    }
}

.exit {
    position: absolute;
    top: 13px;
    left: 0;
    padding: 1em;
}

.overlay {
    opacity: 0.97;
    transform: translateX(0);
}
.menu:hover {
    cursor: pointer;
}
.bar {
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #ffffff;
}
.menu .top {
    left: 0;
    top: 17px;
    transition:all 0.2s ease-in-out;
}
.menu .middle {
    left: 0;
    top: 27px;
    transition:all 0.2s ease-in-out;
}
.menu .bottom {
    left: 0;
    top: 37px;
    transition:all 0.2s ease-in-out;
}
.top.clicked {
    transform: rotate(45deg);
    top: 40%;
    background-color: #efefef;
}
.middle.clicked {
    display: none;
}
.bottom.clicked {
    transform: rotate(-45deg);
    top: 40%;
    background-color: #efefef;
}