/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  position: relative;
}

.section__wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.section__wrap:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 1440px) {
  .section__wrap {
    max-width: 1440px;
  }
}

.section__heading {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .section__heading {
    text-align: left;
  }
}

.section__heading--main {
  font-size: 2.75em;
}

.section__heading--main-top {
  padding-top: 120px;
}

.section__heading--alternate {
  color: #E38C00;
}

.section__heading--left {
  text-align: left;
}

#trigger1,
#trigger2,
#trigger3,
#trigger4 {
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Amatica SC", cursive;
}

body {
  -webkit-transform: rotate(180);
      -ms-transform: rotate(180);
          transform: rotate(180);
}

video {
  display: none;
}

@media (min-width: 768px) {
  video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
  }
}

.ca3-scroll-down-link {
  cursor: pointer;
  width: 8%;
  max-width: 60px;
  position: absolute;
  left: 48%;
  bottom: 100px;
  color: #FFF;
  text-align: center;
  z-index: 99;
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
          animation: ca3_fade_move_down 2s ease-in-out infinite;
}

.ca3-scroll-down-link img {
  width: 100%;
}

.ca3-scroll-down-link span {
  font-size: 1.5em;
  line-height: 40px;
  width: 100%;
  top: -10px;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
}

.load-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background-color: #223874;
  z-index: 1020;
}

.loaded {
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.brand-logo--load {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  width: 50%;
  max-width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  float: left;
  margin: 50px 25%;
}

@media (min-width: 768px) {
  .btn {
    margin: 50px 35%;
  }
}

.btn div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.btn:hover div {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.btn div span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #bc1919;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
}

.btn div span:nth-child(1) {
  color: #bc1919;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

.btn div span:nth-child(2) {
  color: white;
  background: #bc1919;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}

nav {
  height: 100vh;
  width: 100vw;
  background-color: #223874;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease-out;
  transition-delay: 3ms;
}

nav ul {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

@media (min-width: 1024px) {
  nav ul {
    margin-top: 200px;
  }
}

nav ul li {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 4ms;
  margin: 15px 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Amatica SC", cursive;
  display: block;
  font-weight: 700;
  font-size: 3em;
  color: #efefef;
  line-height: 1.389em;
  text-align: center;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 4ms;
}

nav ul li:hover {
  background-color: #182650;
}

nav ul li:hover a {
  border-radius: 0;
}

header {
  float: left;
  width: 100%;
  height: 320px;
}

a {
  text-decoration: none;
  overflow: hidden;
}

.hero {
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.mobile-hero {
  background-image: url(../img/background-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .mobile-hero {
    background-image: none;
  }
}

.headline-container {
  position: relative;
  width: 47.82609%;
  margin: 150px auto;
  max-width: 365px;
  min-width: 185px;
  z-index: 1020;
}

.headline-container .brand-logo,
.headline-container .sponsor-logo {
  position: absolute;
}

.headline-container .brand-logo svg,
.headline-container .sponsor-logo svg {
  width: 100%;
}

.headline-container .arrows {
  width: 100%;
}

.headline-container .brand-logo {
  top: 39%;
  left: -11%;
  width: 40%;
}

.headline-container .sponsor-logo {
  top: 33%;
  left: 80%;
  width: 30%;
}

.headline-container .arrows_copy--top,
.headline-container .arrows_copy--bottom {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  left: 33%;
  text-align: center;
}

@media (min-width: 540px) {
  .headline-container .arrows_copy--top,
  .headline-container .arrows_copy--bottom {
    font-size: 2.2em;
  }
}

@media (min-width: 768px) {
  .headline-container .arrows_copy--top,
  .headline-container .arrows_copy--bottom {
    font-size: 2.5em;
  }
}

.headline-container .arrows_copy--top {
  top: 12%;
}

.headline-container .arrows_copy--bottom {
  top: 75%;
}

.product__section {
  background-color: #ffffff;
}

.product__section .product__section--top,
.product__section .product__section--bottom {
  position: absolute;
  background-image: url(../img/paper.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.product__section .product__section--top {
  top: -97px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product__section .product__section--bottom {
  bottom: -60px;
  height: 70px;
}

.product__grid {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.product__grid:after {
  content: " ";
  display: block;
  clear: both;
}

.product__grid--main {
  margin: 50px 0;
}

@media (min-width: 768px) {
  .product__grid--main {
    width: 30.43478%;
    float: left;
  }
}

@media (min-width: 768px) {
  .product__grid--gallery {
    width: 65.21739%;
    float: right;
  }
}

.product__grid--gallery {
  margin: 50px 0;
}

.product {
  border: 5px solid #E38C00;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.product__primary {
  height: 0;
  padding-bottom: 142%;
}

.product__secondary {
  width: 47.05882%;
  float: left;
  padding-bottom: 60%;
  margin-bottom: 4.34783%;
}

.product__secondary:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.product__secondary:nth-child(2n + 2) {
  margin-left: 52.94118%;
  margin-right: -100%;
  clear: none;
}

@media (min-width: 768px) {
  .product__secondary {
    width: 30.43478%;
    float: left;
    padding-bottom: 30%;
    margin: 0%;
    margin-bottom: 30px;
  }
  .product__secondary:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .product__secondary:nth-child(3n + 2) {
    margin-left: 34.78261%;
    margin-right: -100%;
    clear: none;
  }
  .product__secondary:nth-child(3n + 3) {
    margin-left: 69.56522%;
    margin-right: -100%;
    clear: none;
  }
}

.product-image {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product__title,
.product__price,
.product__title--secondary,
.product__price--secondary {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__title span,
.product__price span,
.product__title--secondary span,
.product__price--secondary span {
  display: inline-block;
  background-color: white;
}

.product__title--secondary,
.product__price--secondary {
  font-size: 1em;
  padding: 0 10px;
}

.product__title {
  top: -18px;
  font-size: 1.5em;
}

.product__title--secondary {
  bottom: -14px;
}

.product__price,
.product__price--secondary {
  font-family: "Roboto", sans-serif;
}

.product__price {
  bottom: -10px;
}

.product__title--secondary {
  font-size: 1.2em;
  top: -10px;
  width: 100%;
}

.product__price--secondary {
  font-size: 0.8em;
  bottom: -8px;
}

#productSecondary {
  margin: 30px 0;
}

@media (min-width: 768px) {
  #productSecondary {
    display: none;
  }
}

.section-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.infographic {
  background-image: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #efefef;
  z-index: 0;
}

.info__container--left,
.info__container--right {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

@media (min-width: 768px) {
  .info__container--left,
  .info__container--right {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .info__container--left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .info__container--right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.info__img--left,
.info__img--right {
  width: 35%;
  max-width: 200px;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .info__img--left,
  .info__img--right {
    margin: 15px 0 30px 0;
  }
}

@media (min-width: 768px) {
  .info__img--left {
    margin-right: 4.34783%;
  }
}

@media (min-width: 768px) {
  .info__img--right {
    margin-left: 4.34783%;
  }
}

.info__copy--left,
.info__copy--right {
  width: 100%;
}

.info__copy--bottom-left {
  padding-bottom: 50px;
}

.info__body {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 20px;
}

.trees {
  display: none;
}

@media (min-width: 768px) {
  .trees {
    display: inherit;
    position: relative;
    height: 150px;
    width: 290px;
    float: right;
  }
  .trees #smallTree,
  .trees #largeTree {
    position: absolute;
  }
  .trees #smallTree {
    width: 30%;
  }
  .trees #largeTree {
    width: 40%;
    left: 100px;
  }
}

.confirmation {
  height: 100vh;
  width: 100vw;
  background-color: #E38C00;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease-out;
  transition-delay: 3ms;
}

.confirmation .confirmation__content {
  width: 80%;
  margin: 100px auto;
  text-align: center;
  color: white;
}

.confirmation .confirmation__content h2 {
  font-size: 5em;
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .confirmation .confirmation__content h2 {
    font-size: 6em;
  }
}

.confirmation .confirmation__content span, .confirmation .confirmation__content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
}

.confirmation .confirmation__content p {
  margin: 60px auto;
  max-width: 550px;
  line-height: 1.5em;
}

@media (min-width: 768px) {
  .confirmation .confirmation__content {
    margin: 40% auto;
  }
  .confirmation .confirmation__content span, .confirmation .confirmation__content p {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .confirmation .confirmation__content {
    margin: 15% auto;
  }
}

.form__section--top {
  position: absolute;
  background-image: url(../img/paper.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  z-index: 10;
  top: -100px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .content {
    width: 47.82609%;
    float: left;
  }
  .content:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .content:nth-child(2n + 2) {
    margin-left: 52.17391%;
    margin-right: -100%;
    clear: none;
  }
}

.product-bundle {
  padding-bottom: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

@media (min-width: 1024px) {
  .product-bundle {
    display: inherit;
  }
}

.product__form {
  margin-top: 30px;
}

form {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

form input {
  float: left;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  border-style: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form input:focus {
  outline: #E38C00;
}

form input:placeholder-shown {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

form select {
  float: left;
  border-radius: 0;
  padding: 5px;
  border-color: initial;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  cursor: pointer;
  border-width: 1px;
  border-color: #ccc;
  color: #95989a;
  border-image: initial;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

form input[name="firstName"],
form input[name="expiration"],
form input[name="email"] {
  width: 49%;
  margin-right: 1%;
}

form input[name="lastName"],
form input[name="security"] {
  width: 50%;
}

form input[name="zip"] {
  width: 34%;
}

form select {
  width: 50%;
}

form input[name="street"],
form input[name="car_number"] {
  width: 100%;
}

form input[name="city"] {
  width: 49%;
  margin-right: 1%;
}

form input[name="state"] {
  width: 15%;
  margin-right: 1%;
}

.disclaimer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  color: #95989a;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .disclaimer {
    font-size: 1em;
  }
}

footer {
  background-image: url(../img/map.jpg);
  width: 100%;
  z-index: 0;
}

.footer-wrap {
  padding-top: 100px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-display {
  display: none;
}

@media (min-width: 768px) {
  .footer-display {
    display: inherit;
  }
}

.footer-nav {
  font-family: "Roboto", sans-serif;
  width: 55.88235%;
  margin-top: 20px;
}

.footer-nav li {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-nav li {
    width: 20.58824%;
    float: left;
  }
  .footer-nav li:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .footer-nav li:nth-child(4n + 2) {
    margin-left: 26.47059%;
    margin-right: -100%;
    clear: none;
  }
  .footer-nav li:nth-child(4n + 3) {
    margin-left: 52.94118%;
    margin-right: -100%;
    clear: none;
  }
  .footer-nav li:nth-child(4n + 4) {
    margin-left: 79.41176%;
    margin-right: -100%;
    clear: none;
  }
}

.footer-nav a {
  color: white;
  font-size: 0.8em;
}

@media (min-width: 1024px) {
  .footer-nav a {
    font-size: 1em;
  }
}

.social-icons {
  width: 20.58824%;
  float: right;
  margin-right: 0;
  margin: 5px;
}

.social-icons a {
  color: white;
}

.social-icons .social {
  margin-right: 5px;
}

.menu-container {
  position: fixed;
  width: 100vw;
  height: 81px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 13px;
  left: 0;
  padding: 1em;
  margin-left: 1em;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.menu .menu-title {
  margin: 3px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.exit {
  position: absolute;
  top: 13px;
  left: 0;
  padding: 1em;
}

.overlay {
  opacity: 0.97;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu:hover {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: #ffffff;
}

.menu .top {
  left: 0;
  top: 17px;
  transition: all 0.2s ease-in-out;
}

.menu .middle {
  left: 0;
  top: 27px;
  transition: all 0.2s ease-in-out;
}

.menu .bottom {
  left: 0;
  top: 37px;
  transition: all 0.2s ease-in-out;
}

.top.clicked {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40%;
  background-color: #efefef;
}

.middle.clicked {
  display: none;
}

.bottom.clicked {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40%;
  background-color: #efefef;
}

/*# sourceMappingURL=main.css.map */