/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  position: relative;
}

.section__wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
}

.section__wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.section__heading {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .section__heading {
    text-align: left;
  }
}

.section__heading--main {
  font-size: 2.75em;
  margin-bottom: 30px;
}

.section__heading--alternate {
  color: #E38C00;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Amatica SC", cursive;
}

video {
  display: none;
}

@media (min-width: 768px) {
  video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
  }
}

.ca3-scroll-down-link {
  cursor: pointer;
  width: 8%;
  max-width: 60px;
  position: absolute;
  left: 48%;
  bottom: 100px;
  color: #FFF;
  text-align: center;
  z-index: 99;
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
          animation: ca3_fade_move_down 2s ease-in-out infinite;
}

.ca3-scroll-down-link img {
  width: 100%;
}

.ca3-scroll-down-link span {
  font-size: 1.5em;
  line-height: 40px;
  width: 100%;
  top: -10px;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
}

.menu-container {
  position: fixed;
  width: 100%;
  height: 81px;
  z-index: 100;
}

.menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 13px;
  left: 0;
  padding: 1em;
  margin-left: 1em;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.menu .menu-title {
  margin: 3px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.overlay {
  opacity: 0.95;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu:hover {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: #ffffff;
}

.menu .top {
  left: 0;
  top: 17px;
  transition: all 0.2s ease-in-out;
}

.menu .middle {
  left: 0;
  top: 27px;
  transition: all 0.2s ease-in-out;
}

.menu .bottom {
  left: 0;
  top: 37px;
  transition: all 0.2s ease-in-out;
}

.top.clicked {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40%;
  background-color: #efefef;
}

.middle.clicked {
  display: none;
}

.bottom.clicked {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40%;
  background-color: #efefef;
}

nav {
  height: 100vh;
  width: 100vw;
  background-color: #223874;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease-out;
  transition-delay: 3ms;
}

nav ul {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

@media (min-width: 1024px) {
  nav ul {
    margin-top: 200px;
  }
}

nav ul li {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 4ms;
  margin: 15px 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Amatica SC", cursive;
  display: block;
  font-weight: 700;
  font-size: 3em;
  color: #efefef;
  line-height: 1.389em;
  text-align: center;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 4ms;
}

nav ul li:hover {
  background-color: #182650;
}

nav ul li:hover a {
  border-radius: 0;
}

header {
  float: left;
  width: 100%;
  height: 320px;
}

a {
  text-decoration: none;
  overflow: hidden;
}

.hero {
  z-index: 0;
  overflow: hidden;
}

.mobile-hero {
  background-image: url(/assets/img/background-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .mobile-hero {
    background-image: none;
  }
}

.headline-container {
  position: relative;
  width: 47.82609%;
  margin: 150px auto;
  max-width: 365px;
  min-width: 185px;
}

.headline-container .brand-logo,
.headline-container .sponsor-logo {
  position: absolute;
}

.headline-container .brand-logo svg,
.headline-container .sponsor-logo svg {
  width: 100%;
}

.headline-container .arrows {
  width: 100%;
}

.headline-container .brand-logo {
  top: 39%;
  left: -11%;
  width: 40%;
}

.headline-container .sponsor-logo {
  top: 33%;
  left: 80%;
  width: 30%;
}

.headline-container .arrows_copy--top,
.headline-container .arrows_copy--bottom {
  position: absolute;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  left: 33%;
  text-align: center;
}

@media (min-width: 540px) {
  .headline-container .arrows_copy--top,
  .headline-container .arrows_copy--bottom {
    font-size: 2.2em;
  }
}

@media (min-width: 768px) {
  .headline-container .arrows_copy--top,
  .headline-container .arrows_copy--bottom {
    font-size: 2.5em;
  }
}

.headline-container .arrows_copy--top {
  top: 12%;
}

.headline-container .arrows_copy--bottom {
  top: 75%;
}

.product__section {
  background-color: #ffffff;
}

.product__section .product__section--top,
.product__section .product__section--bottom {
  position: absolute;
  background-image: url(/assets/img/paper.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 51px;
  z-index: 10;
}

.product__section .product__section--top {
  top: -36px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product__section .product__section--bottom {
  bottom: -36px;
}

.infographic {
  background-image: url(/assets/img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #efefef;
  z-index: 0;
}

.info__container--left,
.info__container--right {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

@media (min-width: 768px) {
  .info__container--left,
  .info__container--right {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .info__container--left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .info__container--right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.info__img--left,
.info__img--right {
  width: 35%;
  max-width: 200px;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .info__img--left,
  .info__img--right {
    margin: 15px 0 0 0;
  }
}

@media (min-width: 768px) {
  .info__img--left {
    margin-right: 4.34783%;
  }
}

@media (min-width: 768px) {
  .info__img--right {
    margin-left: 4.34783%;
  }
}

.info__copy--left,
.info__copy--right {
  width: 100%;
}

.info__body {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 20px;
}

.confirmation {
  height: 100vh;
  width: 100vw;
  background-color: #E38C00;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease-out;
  transition-delay: 3ms;
}

.product__overview {
  display: none;
  width: 47.82609%;
}

.product__form {
  width: 47.82609%;
}

footer {
  background-image: url(/assets/img/map.jpg);
  width: 100%;
  z-index: 0;
}

/*# sourceMappingURL=_main.css.map */