

@import 'vendor/reset';
@import '../../node_modules/susy/sass/susy';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'base/variables';
@import 'base/susyOdd';
@import 'base/breakpoints';

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $heading;
  
}

section {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 101%;
  overflow: hidden;
  z-index: -3;
}
@import 'partials/home';
@import 'partials/product';
@import 'partials/nav';
@import 'components/arrow';
@import 'components/menu';


